
*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

/*1.1) box1 - nav-logo*/
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

/* 2) Panel Styling */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p{
    display: inline;
    margin: 15px;
}

.panel-options {
    width: 70%;
    font-size: 0.85rem;
    
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* 1.2) Box2 of navbar styling(deliver to India) */

/* Deliver to */
.add-first{
    color: #CCCCCC;
    font-size: 0.7rem;
    margin-left: 15px;
}

/* Location icon and India */
.add-second{
    color: #ffffff;
    font-size: 1rem; /* using rem as unit as it makes website responsive, the size of font adjust to the height and width of web page*/
    margin-left: 3px;
}

.address-icon{
    display: flex; /*To display the "Location icon" and "India" in one line*/
    align-items: center;
}

/* 1.3) box3 Nav search Bar */

.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    background-color: rgb(230, 171, 11);
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;
    border: none;


}

.search-input{
     width: 100%;  /* width 100% means after assigning width to search-select and search-icon, whatever width left, will be occupied by this search-input
     */

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center; /* make icon horizontally center*/
    align-items: center; /* make icon vertically center*/
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.nav-search:hover{
    border: 3px solid #febd68;
}

/* 1.4) Box4 and box 5in Nav bar -> Sign In and Accounts & lists And Returns */


span{
    font-size: 0.7rem;
}

.nav-line-two{
    font-size: 0.85rem;
    font-weight: 700;
}

/* 1.5) box6 -> nav cart  */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* 2) Panel Styling */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p{
    display: inline;
    margin: 15px;
}

.panel-options {
    width: 70%;
    font-size: 0.85rem;
    
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
